.p-hero 
  .p-hero__inner 
    ul.p-hero__visual__list.js-bxslider__hero
      li.p-hero__visual__item 
        .p-hero__visual__img(style="background-image: url(../img/hero_img1.jpeg)") 
      li.p-hero__visual__item 
        .p-hero__visual__img(style="background-image: url(../img/hero_img2.png)") 
      li.p-hero__visual__item 
        .p-hero__visual__img(style="background-image: url(../img/hero_img3.jpeg)") 
      li.p-hero__visual__item 
        .p-hero__visual__img(style="background-image: url(../img/hero_img4.png)") 
      li.p-hero__visual__item 
        .p-hero__visual__img(style="background-image: url(../img/hero_img5.png)") 