aside.l-side
  .l-side__inner 
    .p-side__search 
      .p-side__search__area
        input(type="search").p-side__search__text 
        a(href="#")
          img(src="../img/serach_icon.png", alt="").p-side__search__icon
    div.p-side__search__category
      h2.p-side__search__category__title ギフト
      ul.p-side__search__category__list 
        li.p-side__search__category__item 
          a(href="#") ギフト商品一覧
        li.p-side__search__category__item 
          a(href="#") 精肉ギフト
        li.p-side__search__category__item 
          a(href="#") 加工品ギフト
    div.p-side__search__category
      h2.p-side__search__category__title ご自宅用
      ul.p-side__search__category__list 
        li.p-side__search__category__item 
          a(href="#") ご自宅用商品一覧
        li.p-side__search__category__item 
          a(href="#") 焼肉・BBQ
        li.p-side__search__category__item 
          a(href="#") すき焼き
        li.p-side__search__category__item 
          a(href="#") しゃぶしゃぶ
        li.p-side__search__category__item 
          a(href="#") ステーキ
        li.p-side__search__category__item 
          a(href="#") とんかつ・ソテー
        li.p-side__search__category__item 
          a(href="#") 切り落とし
        li.p-side__search__category__item 
          a(href="#") 鶏肉
        li.p-side__search__category__item 
          a(href="#") 加工品
        li.p-side__search__category__item 
          a(href="#") 韓国食材
        li.p-side__search__category__item 
          a(href="#") 焼肉屋さんのタレ
        li.p-side__search__category__item 
          a(href="#") その他
    div.p-side__search__category
      h2.p-side__search__category__title 価格帯から探す
      ul.p-side__search__category__list 
        li.p-side__search__category__item 
          a(href="#") 〜1,000円
        li.p-side__search__category__item 
          a(href="#") 1,001〜3,000円
        li.p-side__search__category__item 
          a(href="#") 3,001〜5,000円
        li.p-side__search__category__item 
          a(href="#") 5,001〜7,000円
        li.p-side__search__category__item 
          a(href="#") 7,001円〜