.p-cookie.l-cookie.__page#cookie 
    .p-cookie__inner 
      div.p-cookie__heading
        h4.p-cookie__title 最近見た商品
      ul.p-cookie__list 
        li.p-cookie__item 
          .p-cookie__visual 
            .p-cookie__visual__img( style="background-image: url(../img/ranking2.jpg)") 
        li.p-cookie__item 
          .p-cookie__visual 
            .p-cookie__visual__img( style="background-image: url(../img/ranking1.jpg)")  
        li.p-cookie__item 
          .p-cookie__visual 
            .p-cookie__visual__img( style="background-image: url(../img/ranking2.jpg)")  
        li.p-cookie__item 
          .p-cookie__visual 
            .p-cookie__visual__img( style="background-image: url(../img/ranking1.jpg)")  
