//-----------------//
      //var//
//-----------------//




$break-sp: 640px;
$break-middle: 840px;
$break-tablet: 1040px;
$responsive: 500px;

$main-font-color: #222;
$sub-font-color: #5a5a5a;

$main-color: #be171b;
$main-color2: #f7eaea; 
$sub-color: #0f7551;
$mix-color: #f5ebcf;

$base-font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
$gothic-font-family: "游ゴシック Medium" , YuGothic, "Yu Gothic" , "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo , sans-serif;
$mincyo-font-family: "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ryumin_l_subset", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
$english-font-family: 'Cinzel', serif !important;
;

$coliyan-font-family: 'Noto Sans JP',"游ゴシック Medium" , YuGothic, "Yu Gothic" , "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo , sans-serif;

$conliyan-font-english: "Josefin Sans", sans-serif;
